@import "~materialize-css/dist/css/materialize.min.css";

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.navbar .nav-wrapper{
    padding: 0 2rem;
}

.auth-page .card .card-action .btn:first-child {
    margin-right: 10px;
}
